.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    background: var(--background);
    border-radius: 50px;
    text-align: center;
    min-width: 40%;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 1.3rem;
    padding-top: 1rem;
    font-family: "MinecraftFive-Bold", serif;
}

.login-text-sub {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 0.5rem;
    font-family: "DM Sans", serif;
}

.connect,
.cancel {
    background: var(--element-color);
    color: var(--color);
    border: none;
    border-radius: 100px;
    padding: 1rem 10rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    margin: 15px 10px;
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 2px var(--element-color);
    border-radius: 30px;
    width: 50%;
    padding: 0.4rem 1rem;
    margin-top: 10px;
}